
<table class="table user-list">
    <thead>
      <tr>
        <th><span>idFournisseur</span></th>
        <th><span>code</span></th>
        
        <th><span>libelle</span></th>
  
        <th>&nbsp;</th>
      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let u of my_fournisseurs; let i = index">
        <td>
          {{ u.idFournisseur }}
        </td>
  
        <td>
          {{ u.code }}
        </td>
        <td class="text-center">
          <span class="label label-default">{{ u.libelle }}</span>
        </td>
        
        <td>
          <button class="btn btn-danger" (click)="delete(u.idFournisseur)">Delete</button>
         
        </td>
      </tr>
    </tbody>
  </table>
  <div>
    <button
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
      (click)="showAddModal()"
    >
      Add
    </button>
  </div>

  <div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Product</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="addFournisseurForm">
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Code</label>
            <input
              type="text"
              formControlName="code"
              class="form-control"
              id="exampleInputPassword1"
            />
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label"
              >Libelle</label
            >
            <input
              type="text"
              formControlName="libelle"
              class="form-control"
              id="exampleInputPassword1"
            />
          </div>
         

          
         
          
          
          <button
            class="btn btn-primary"
            *ngIf="showAdd"
            (click)="addFournisseur()"
          >
            save
          </button>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
